<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<html>
<div class="container">
    <img src="assets/404logo.jpg" width="250" alt=" Team Logo " class="logo shadow rounded-circle" />
    <div class="col-lg-7 col-md-12 col-sm-12 content ">
        <div class="cent " style="font-size: 45px ">NOTIFY ME!</div>
        <div class="cent " style="font-size: 30px ">
            Course project - CS251
        </div>
        <br />
        <div class="cent " style="font-size: 18px ">
            <p>
                This project consist of two parts - a dashboard and an android app. It helps students at IITB to keep track of all kinds of notifications at their fingertips that they receive from various sources such as moodle, webmail, piazza etc.,
            </p>
        </div>
    </div>
</div>

<div class="members ">Team Members </div>
<div class="container ">
    <div class="row ">
        <div class="col-xl-3 col-md-6 mb-4 ">
            <div class="card border-0 shadow ">
                <img src="assets/anonymous.jpg " class="card-img-top " alt="... ">
                <div class="card-body text-center ">
                    <h4 class="card-title mb-0 ">Girish Srivatsa </h4>
                    <div class="card-text text-black-50" style="font-size: 15px">190050069</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4 ">
            <div class="card border-0 shadow ">
                <img src="assets/anonymous.jpg " class="card-img-top " alt="... ">
                <div class="card-body text-center ">
                    <h4 class="card-title mb-0 ">Krushnakant</h4>
                    <div class="card-text text-black-50" style="font-size: 15px">190100036</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4 ">
            <div class="card border-0 shadow ">
                <img src="assets/anonymous.jpg " class="card-img-top " alt="... ">
                <div class="card-body text-center ">
                    <h4 class="card-title mb-0 ">Prajeeth</h4>
                    <div class="card-text text-black-50" style="font-size: 15px">190050117</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4 ">
            <div class="card border-0 shadow ">
                <img src="assets/anonymous.jpg " class="card-img-top " alt="... ">
                <div class="card-body text-center ">
                    <h4 class="card-title mb-0 ">Gaurav</h4>
                    <div class="card-text text-black-50" style="font-size: 15px;">190050037</div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
